<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
        <file>MyLog.log</file>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.spc" level="debug" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>